<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О футболе</title>

    <link rel="stylesheet" href="../../static/lending/css/index.css">
    <link rel="stylesheet" href="../../static/lending/css/burger.css">
    <link rel="stylesheet" href="../../static/compare/css/compare.css">

</head>
<body>
    <style>
        body {
            margin: 0;
            height: 100vh;
            position: relative;
            background-color: black;
        }

        body::before {
            content: '';
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../../static/lending/images/background.jpg");
            opacity: .5;
            z-index: -1;
            overflow: hidden;
        }
    </style>

    <header class="header-block">
        <div class="header-main-block">
            <div class="logo-block">
                <img src="../../static/lending/images/prl-bear.png" alt="" height="80" >
            </div>
            
            <div class="title-block">
                <h1 class="title">РОССИЙСКАЯ ПРЕМЬЕР-ЛИГА</h1>
            </div>
            <div class="menu-container">
                <button id="burger-btn" class="burger-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <nav id="menu" class="menu">
                    <ul>
                        {% if request.user.id %}
                            <li><a href="javascript:" onclick="logout()">Выйти</a></li>
                            <li><a href="/admin/">Админ панель</a></li>
                        {% else %}
                            <li><a href="javascript:" onclick="authorization_show_window()">Войти</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="page_title"></div>
    
    <section class="compare_players_section">
        <div class="players_to_compare position_center_x">
            <div class="player_block">
                <img src="../../media/players/АГКАЦЕВ_СТАНИСЛАВ.jpeg" alt="" class="">
                <h3 class="player_name">C. Агкацев</h3>
            </div>
            <h3 id="vs">vs</h3>
            <div class="player_block">
                <img src="../../media/players/АКИНФЕЕВ_ИГОРЬ.jpeg" alt="" class="">
                <h3 class="player_name">И. Акинфеев</h3>
            </div>
        </div>
        <div class="general_info position_center_x">
            <h3 class="general_info_title">Общие сведения</h3>
                <div class="compare_container">
                    <div class="compare_header">
                      <div class="team_logo">
                        <img src="../../media/clubs/CSKA.png" alt="">
                        <div class="team_text">
                            <h4>ЦСКА</h4>
                        </div>                        
                      </div>
                      <div class="compare_name">клуб</div>

                      <div class="team_logo">
                        <div class="team_text">
                            <h4>Локомотив</h4>
                        </div>                        
                        <img src="../../media/clubs/Lokomotiv.png" alt="">
                      </div>
                    </div>
            
                    <div class="compare_row">
                      <div class="compare_value">21</div>
                      <div class="compare_name">Возраст</div>
                      <div class="compare_value">22</div>
                    </div>            
                    <div class="compare_row">
                      <div class="compare_value">178</div>
                      <div class="compare_name">Рост</div>
                      <div class="compare_value">180</div>
                    </div>
            
                    <div class="compare_row">
                      <div class="compare_value">80</div>
                      <div class="compare_name">Вес</div>
                      <div class="compare_value">82</div>
                    </div>
                    <div class="compare_row">
                      <div class="compare_value">Россия</div>
                      <div class="compare_name">Страна</div>
                      <div class="compare_value">Бразилия</div>
                    </div>
                    <div class="compare_row">
                      <div class="compare_value">ЦЗ,ОПЗ</div>
                      <div class="compare_name">Поиция</div>
                      <div class="compare_value">ЦН</div>
                    </div>

                </div>
        </div>
        <div class="compare_main_block position_center_x">
            <div class="agvantages_left">
                <div class="advantages_title">
                    <h2>Преимущества Агкацева над Акинфеевым</h2>
                </div>
                <div class="advantages_info">
                    <div class="compare_of_advantages">
                        <div class="compare_of_advantages_title position_center">
                            <h3 class="criteria_name">Игра в обороне</h3>
                            <div class="criteria">
                                <h4 class="first_player_criteria">7</h4>
                                <h4 class="compare_vs">vs</h4>
                                <h4 class="second_player_criteria">3</h4>
                            </div>                                                        
                        </div>
                        <div class="compare_of_advantages_info">
                            <div class="player_text_block">
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>1. Перехватов за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>2. Отборов за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">6</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>4. Возврат мяча</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4,7</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2,9</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>5. Выносы за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">9</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>6. Ошибка, приведшая к удару</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">0</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">1</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>7. Ошибка, приведшая к голу</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">0</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="verticalLine position_center_x"></div>
                            <div class="player_text_block">
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>1. Тотал единоборств (успешные)</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">3</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">5</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>2. Борьба за позицию</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3</p>
                                                )</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>3. Воздушные единоборства (успешные)</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4,7</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3,5</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="advantages_info">
                    <div class="compare_of_advantages">
                        <div class="compare_of_advantages_title position_center">
                            <h3 class="criteria_name">Игровая дисциплина</h3>
                            <div class="criteria">
                                <h4 class="first_player_criteria">4</h4>
                                <h4 class="compare_vs">vs</h4>
                                <h4 class="second_player_criteria">1</h4>
                            </div>                                                        
                        </div>
                        <div class="compare_of_advantages_info">
                            <div class="player_text_block">
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>1. Перехватов за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>2. Отборов за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">6</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>4. Возврат мяча</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4,7</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2,9</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>5. Выносы за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">9</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>6. Ошибка, приведшая к удару</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">0</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">1</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>7. Ошибка, приведшая к голу</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">0</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="verticalLine position_center_x"></div>
                            <div class="player_text_block">
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>1. Тотал единоборств (успешные)</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">3</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">5</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>2. Борьба за позицию</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3</p>
                                                )</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>3. Воздушные единоборства (успешные)</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4,7</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3,5</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="verticalLine position_center_x"></div>
            <div class="horizontalLine position_center_x"></div>

            <div class="agvantages_right">
                <div class="advantages_title">
                    <h2>Преимущества Акинфеева над Агкацевым</h2>
                </div>
                <div class="advantages_info">
                    <div class="compare_of_advantages">
                        <div class="compare_of_advantages_title position_center">
                            <h3 class="criteria_name">Атакующие действия</h3>
                            <div class="criteria">
                                <h4 class="first_player_criteria">6</h4>
                                <h4 class="compare_vs">vs</h4>
                                <h4 class="second_player_criteria">1</h4>
                            </div>                                                        
                        </div>
                        <div class="compare_of_advantages_info">
                            <div class="player_text_block">
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>1. Перехватов за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>2. Отборов за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">6</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>4. Возврат мяча</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4,7</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2,9</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>5. Выносы за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">9</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>6. Ошибка, приведшая к удару</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">0</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">1</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>7. Ошибка, приведшая к голу</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">0</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="verticalLine position_center_x"></div>
                            <div class="player_text_block">
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>1. Тотал единоборств (успешные)</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">3</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">5</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>2. Борьба за позицию</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3</p>
                                                )</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>3. Воздушные единоборства (успешные)</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4,7</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3,5</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantages_info">
                    <div class="compare_of_advantages">
                        <div class="compare_of_advantages_title position_center">
                            <h3 class="criteria_name">Передачи</h3>
                            <div class="criteria">
                                <h4 class="first_player_criteria">5</h4>
                                <h4 class="compare_vs">vs</h4>
                                <h4 class="second_player_criteria">3</h4>
                            </div>                                                        
                        </div>
                        <div class="compare_of_advantages_info">
                            <div class="player_text_block">
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>1. Перехватов за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>2. Отборов за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">6</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>4. Возврат мяча</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4,7</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2,9</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>5. Выносы за игру</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">9</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>6. Ошибка, приведшая к удару</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">0</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">1</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>7. Ошибка, приведшая к голу</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">0</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">2</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="verticalLine position_center_x"></div>
                            <div class="player_text_block">
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>1. Тотал единоборств (успешные)</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">3</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">5</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>2. Борьба за позицию</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3</p>
                                                )</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="player_text">
                                        <div class="player_text_row">
                                            <h6>3. Воздушные единоборства (успешные)</h6>
                                            <div class="brackets_block">
                                                <p class="brackets">(
                                                    <p class="left_best_criteria">4,7</p>
                                                    <p>vs</p>
                                                    <p class="right_best_criteria">3,5</p>
                                                )</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="game_features_block">
            <div class="game_features_title">
                <h1>Особенности игры</h1>
            </div>
            <div class="game_features_main_info">
                <div class="game_style">
                    <div class="player_style_title">
                        <h3>Стиль игры Агкацева</h3>
                    </div>
                    <div class="player_style_text_block">
                        <div class="game_style_text">
                            <div class="player_style_text_row">
                                <h6>1. Хороший выбор позиции</h6>                                                                
                            </div>                        
                        </div>
                        <div class="game_style_text">
                            <div class="player_style_text_row">
                                <h6>2. Игра ногами</h6>                                                                
                            </div>                        
                        </div>
                        <div class="game_style_text">
                            <div class="player_style_text_row">
                                <h6>3. Координация</h6>                                                                
                            </div>                        
                        </div>
                    </div>                    
                </div>
                <div class="game_style">
                    <div class="player_style_title">
                        <h3>Стиль игры Агкацева</h3>
                    </div>
                    <div class="player_style_text_block">
                        <div class="game_style_text">
                            <div class="player_style_text_row">
                                <h6>1. Борьба за позицию</h6>                                                                
                            </div>                        
                        </div>
                        <div class="game_style_text">
                            <div class="player_style_text_row">
                                <h6>2. Длинные передачи</h6>                                                                
                            </div>                        
                        </div>
                        <div class="game_style_text">
                            <div class="player_style_text_row">
                                <h6>3. Силён в единоборствах</h6>                                                                
                            </div>                        
                        </div>
                    </div>
                </div>              
            </div>
        </div>

    </section>

</body>